
.App {
  text-align: center;
}

.Rotating-Heli{
  
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("./grassfield.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  
}



button {
  margin: 0 10px;
  margin-top: 20px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: #e67346;
}
